.card{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 40rem;
}


.corpo{
    background: var(--cor-blackTransparent);
    color: var(--cor-branco);
    margin: 10rem 1rem 0 1rem;
    border-radius: 10px;
    width: 73rem;
}

.title{
    justify-content: center;
    align-items: center;
    display: flex;
}

.imgs{
    justify-content: center;
    align-items: center;
    display: flex;
}

.img{
    margin: 0 5px 10px 5px;
    border-radius: 5px;
    width: 33%;
    height: 20rem;
}

/* body contato */

.cardLocalizacao{
    background: var(--cor-blackTransparent);
    border-radius: 5px;
    color: var(--cor-branco);
    align-items: top;
    display: flex;
    margin: 10rem 5rem 10rem 2rem;
    height: 40rem;
}

.cardTitulo{
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 2rem 1rem 0 0;
    width: 50%;
    height: 30%;
}

.cardMapa{
    display: flex;
    height: 100%;
    width: 100%;
}

.mapaContato{
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    width: 100%;
}

.cardRefencias{
    margin: 10px 10px 5px 0;
    width: 100%;
}

.mapaRefencia{
    border-radius: 5px;
    width: 100%;
    height: 49%;
}

/* parte do card de mensagem */
.cardMensagem{
    background: var(--cor-blackTransparent);
    margin: 0 2rem 10rem 2rem;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.contatoMensagem{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
    color: var(--cor-branco);
}

.mensagemTitulo{
  text-decoration: underline;
  margin: 10px 0 5px 0;
}
.obs{
    color: rgb(172, 23, 23);
}

.mensagemDados{
  flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
}


.mensagem{
    border:2px solid var(--cor-branco);
    background: var(--cor-blackTransparent);
    padding: 0.5% 25% 0 0;
    margin: 5px 0 5px 0;
    font-size: 20px;
    color: var(--cor-branco);
}

.enviarMensagem{
    border: 2px solid var(--cor-branco);
    background: rgb(172, 23, 23);
    margin: 1rem 0 1rem 0;
    font-size: 20px;
}