.card{
    justify-content: center;
    align-items: center;
    display: flex;
}


.corpo{
    background: var(--cor-back);
    color: var(--cor-branco);
    margin: 10rem 1rem 0 1rem;
    border-radius: 10px;
    width: 73rem;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgs{
    justify-content: center;
    align-items: center;
    display: flex;
}

.img{
    margin: 0 5px 10px 5px;
    border-radius: 10px;
    height: 20rem;
}