.myFooter{
    justify-content: space-around;
    background: #1d1c1c;
    align-items: center;
    margin: 5rem 0 0 0;
    display: flex;
    bottom: 0px;
    width: 100%;
    height: 14rem;
    color: var(--cor-branco);
}

.divMapa{
     width: 50%;
    height: 80%;
}

.mapa{
    width: 100%;
    height: 100%;
}