.cardQuemSomos {
	background: var(--cor-blackTransparent);
	color: var(--cor-branco);
	margin: 15rem 5rem 15rem 5rem;
	border-radius: 5px;
	justify-content: center;
	align-items: top;
	display: flex;
	width: 90%;
	height: 50rem;
	overflow: hidden;
}

.cardApresentacao {
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 10px 0px 10px 10px;
}

.imagemTatuador {
	margin: 20px 0 20px 0;
	border-radius: 5px;
	height: 48rem;
}

.maisImagens {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
}

.perfilTatuador {
	margin: 10px 0 10px 0;
	border-radius: 5px;
	height: 70%;
	width: 70%;
}

.cardTatuador {
	align-items: center;
	flex-direction: column;
	margin: 1rem 0 0 0;
	display: flex;
	width: 50%;
	overflow: hidden;
}

.about {
	text-justify: distribute-all-lines;
	word-wrap: break-word;
	margin: 10px 5px 10px 5px;
	font-size: 20px;
}

@media (max-width: 900px) {
	.cardQuemSomos {
		flex-wrap: wrap;
		overflow-y: scroll;
		margin: 13rem 0 4rem 1rem;
		height: 22rem;
	}
	.cardQuemSomos h2 {
		padding: 0 0 0 10px;
	}
	.cardApresentacao {
		margin: 1.5rem 1rem 0 1rem;
		width: 90%;
	}
	.imagemTatuador {
		height: 20rem;
		width: 25rem;
		margin: 0;
	}
	.maisImagens {
		margin: 1rem 0 3.5rem 0;
		width: 90%;
	}
	.cardTatuador {
		width: 100%;
		margin: 0 0 0 0;
		font-size: 10px;
	}
	.perfilTatuador {
		margin: 1.5rem 1rem 0 1rem;
		width: 14rem;
		height: 100%;
	}
	.about {
		padding: 0 15px 0 15px;
		font-size: 12px;
		overflow: hidden;
	}
	.video {
		margin: 1.5rem 1rem 0 1rem;
		width: 14rem;
		height: 100%;
	}
}
