.card {
	justify-content: center;
	align-items: center;
	display: flex;
	height: 40rem;
}

.corpo {
	background: var(--cor-blackTransparent);
	color: var(--cor-branco);
	margin: 10rem 1rem 0 1rem;
	border-radius: 10px;
	width: 73rem;
}

.title {
	justify-content: center;
	align-items: center;
	display: flex;
}

.imgs {
	justify-content: center;
	align-items: center;
	display: flex;
}

.img {
	margin: 0 5px 10px 5px;
	border-radius: 5px;
	height: 20rem;
	width: 33%;
}

.listaTato {
	justify-content: space-evenly;
	align-items: center;
	display: flex;
}

.divImgLista {
	background: var(--cor-blackTransparent);
	margin: 5rem 0.5rem 10rem 0.5rem;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 40%;
	height: 30rem;
}

.imgLista {
	border-radius: 5px;
	height: 95%;
	width: 95%;
}

@media (max-width: 900px) {
	.card{
		margin: 2rem 0 0 0;
		height: 25rem;
	}
	.corpo {
		margin: 1.5rem 1rem 0 1rem;
		width: 73rem;
	}
	.title {
		font-size: 15px;
	}
	.title h3{
		font-size: 20px;
	}
	.img {
		margin: 0 5px 10px 5px;
		width: 30%;
		height: 10rem;
	}
	.divImgLista {
		margin: 0 0.1rem 8rem 0;
		border-radius: 5px;
		height: 12rem;
	}
}
