header {
	justify-content: space-between;
	background: var(--cor-back);
	align-items: center;
	position: fixed;
	display: flex;
	width: 100%;
	height: 8rem;
	top: 0px;
	color: var(--cor-branco);
}

.logo {
	margin-left: 1rem;
	width: 10rem;
	height: 10rem;
}

.title {
	font-size: 50px;
}

.links {
	display: inline-flex;
}

.link {
    color: var(--cor-branco);
    margin: 0 1rem 0 0;
	cursor: pointer;
	font-size: 1.3rem;
}

.link{
    color: var(--cor-branco);
}

.link:hover {
	color: var(--cor-vermelhoClaro);
	transition:  ease-in-out 0.4s;
	text-decoration: underline;
	font-weight: bold;
}

@media (max-width: 900px){
	header{
		justify-content: center;
		align-items: center;
		display: flex;
		flex-wrap: wrap;
	}
	.logo{
		margin: 0;
		width: 3.5rem;
		height: 3.5rem;
	}
	.link{
		margin: 0 0 0 0.5rem;
		font-size: 12px;
	}
}